@font-face{
	font-family:"CarandaPersonalUse-qLOq";
	src:url("../font/CarandaPersonalUse-qLOq.ttf") format("truetype")
}
@font-face{
	font-family:"Kalpana ANSI";
	src:url("../font/Kalpana ANSI.ttf") 
	format("truetype")
}